*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("CSS Advanced/Object.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif, 'poppins';
}
nav ul li a:hover {
    color: rgb(145, 3, 174);
    transition: 0.3s;
}
#hero{
    text-align: center;
    color: white;
    margin-top: 30px;
}
#hero h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin-bottom: 20px;
    margin-right: 95px;
}
#hero span{
    font-weight: bold;
   font-size: 16px;
    margin: 0 10px;
    margin-right: 40px;
    
}
#hero button{
    background-color: #C271FF;
    color: white;
    padding: 15px 30px;
    margin: 30px 0;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 50px;
}
#hero button:hover{
    background-color: blueviolet;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: 0.3s;
}
#lower-banner h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:;
    font-size: 32px;
    margin-top: 100px;
    text-align: center;   
}
#lower-banner span{
    color: #C271FF;
}
#round-it img{
    border-radius: 50%;  
}
#awards{
    display: flex;
    justify-content: center;
    gap: 80px;
    color: white;
    margin-top: 60px;
    margin-bottom: 100px;
}
#awards img{
    width: 130px;
    height: 130px;
    margin-left: 10px;
}
#awards h3, #awards p{
    text-align: center;
}
#testimonial-sec{
    background-color: #C271FF;
    height: 220px;
    margin-top: -20px;
}
#testimonial-sec img{
    width: 130px;
    height: 130px;
    margin-left: 150px;
    margin-top: 20px;
}
#testimonial-sec div{
    align-items: center;
    gap: 30px;
    padding: 20px 100px;
}
.testimonial-content{
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 320px;
    margin-top: -150px;
    justify-content: center;
    color: white;
}
